div {
    width: 25%;
    height: 100px;
    font-size: 30px;
}

html {
    font-size: 16pz;
}

#em {
    background-color: blue;
    font-size: 2em;
}

#rem {
    background-color: orange;
    font-size: 2rem;
}